
/*-------------------------
         PORTFOLIO
-------------------------*/
.portfolio .portfolio-filter .list-inline-item:not(:last-child) {
  margin-bottom: 1rem;
}

.portfolio .portfolio-filter li a {
  padding: 5px 15px;
}

.portfolio .portfolio-item {
  margin-top: 30px;
}

.portfolio .portfolio-item-content {
  position: relative;
  border-radius: 1.25rem;
}

.portfolio .portfolio-item-content::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  opacity: 0;
  transform: scale(0.8);
  transition: .5s all ease;
  border-radius: 1.25rem;
}

.portfolio .portfolio-item-content:hover .img-overlay-content {
  opacity: 1;
}

.portfolio .portfolio-item-content:hover::before {
  transform: scale(1);
  opacity: 1;
}

.portfolio .img-overlay-content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  transition: all .5s ease;
}

.portfolio .img-overlay-content h5 {
  color: #fafafa;
}

.portfolio .portfolio-icon a {
  background-color: white;
  width: 35px;
  height: 35px;
  line-height: 37px;
  margin: 0 8px;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.3s ease;
  line-height: 37px;
}

.portfolio .portfolio-icon a i {
  font-size: 18px;
  font-weight: 700;
}

.portfolio .portfolio-icon button {
  background-color: white;
  width: 35px;
  height: 35px;
  line-height: 37px;
  margin: 0 8px;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.3s ease;
  line-height: 33px;
  border-color: transparent;
}

.portfolio .portfolio-icon button i {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  left: -2px;
}

.portfolio .portfolio-icon button:focus {
  outline: none !important;
}

.portfolio .portfolio-item-content::before {
  background-color: rgba(255, 100, 94, 0.9);
}

/* .mixitup .mix{
  display: none;
} */

.mixitup-sec .mixitup-control-active{
    color: #1AB394;
  box-shadow: inset -3px -3px 3px rgba(255,255,255,0.2), inset 3px 3px 3px rgba(0,0,0,0.1);
    border-radius: 1rem;
}

.mixitup-sec .btn a{
    color: #1AB394;
}

.mixitup-sec .btn a:hover {
    color: #1AB394;
}
/*  ***************************** */

.testimonial .image-border {
  display: inline-block;
  border-radius: 50%;
  margin-right: 16px;
}

.testimonial-header {
  display: flex;
}

.testimonial-detail {
  align-self: center;
}

.testimonial p {
  clear: left;
  margin-top: 16px;
}

.testimonial .owl-carousel .testimonial-item {
  padding: 30px;
}

.testimonial .testimonial-item::before {
  content: '\f10e';
  font-family: "FontAwesome", "sans-serif";
  font-size: 32px;
  position: absolute;
  right: 30px;
  top: 46px;
}

.testimonial .owl-carousel .testimonial-item img {
  width: 70px;
  display: inline-block;
  border-radius: 50%;
}

.testimonial .owl-carousel .testimonial-item:hover .testimonial-border {
  width: 90px;
}

.testimonial .owl-carousel .owl-stage-outer {
  padding: 1rem 0;
}

.testimonial .owl-carousel .testimonial-image {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  background-color: #f1f3f6;
  width: 115px;
  height: 115px;
}

.testimonial .owl-carousel .testimonial-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 92%;
  height: 40%;
  background-color: #f1f3f6;
  z-index: 1;
  right: 6px;
}

.testimonial .owl-carousel .testimonial-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
  border-radius: 50%;
  z-index: 0;
  left: 2px;
}

.testimonial .owl-carousel .testimonial-image .img-thumbnail {
  background-color: transparent;
}

.testimonial .owl-carousel .testimonial-image-border {
  box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  z-index: 2;
}

.testimonial .owl-carousel .owl-dots {
  text-align: center;
  margin-top: 1rem;
}

.testimonial .owl-carousel .owl-dot span {
  display: block;
  width: 24px;
  height: 5px;
  background-color: #e1e1e1;
  margin: 0 0.25rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.testimonial .owl-carousel .owl-dot.active span {
  width: 32px;
  box-shadow: 3px 3px 8px rgba(55, 84, 170, 0.1), -3px -3px 8px white;
}